#layout-header{
    nav{
        display: flex;
        height: 80px;
        justify-content: space-between;
        padding: 0 15px;
        background: #2177bd;
        color: white;
        box-shadow: 1px 1px 1px 1px lightgrey;

        .mini-logo{
            p{
                margin: 10px;
                font-size: 2.5rem;
                font-weight: bold;
            }
        }

        .auth-links{
            ul{
                margin: 10% 20px;
                display: flex;
                font-size:1.3rem;
            

                li{
                    margin-right: 20px;
                    list-style:none;
            
                }
            }
        }

        a{
            color: white;
            text-decoration: none;
        }

    }
}